﻿@model LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<h2>Log in</h2>


<div class="container-fluid">
    <div class="row justify-content-center align-items-center">
        <div class="col col-sm-6 col-md-6 col-lg-4 col-xs-3">
            <form asp-action="Login" asp-controller="Account" asp-antiforgery="true">
                <div class="form-group">
                    <input type="text" asp-for="Email" placeholder="Email address" class="form-control form-control-lg" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="form-group">
                    <input type="password" asp-for="Password" placeholder="Password" class="form-control form-control-lg" />
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default btn-lg btn-block">Log in</button>
                </div>
            </form>
            <hr />

            <form asp-action="SignInWithGoogle" asp-controller="Account" asp-antiforgery="true">
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-block">Log in with Google</button>
                    <button type="submit" class="btn btn-primary btn-block">Log in with Facebook</button>
                </div>
            </form>
        </div>
    </div>
</div>
