﻿@model ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h2>Details about product </h2>
<hr />
<br />

<!-- Carousel -->
<div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
    <ol class="carousel-indicators">
        <li data-target="Carousel" data-slide-to="0" class="active"></li>
        @for (int count = 1; count < Model.Photos.Count; count++)
        {
            <li data-target="Carousel" data-slide-to="count"></li>
        }
    </ol>
    <div class="carousel-inner">
        @{
            var first = true;
        }

        @foreach (var photo in Model.Photos)
        {
            string path = photo.Path + "/" + photo.Name;
            <div class="item @(first?Html.Raw("active"):Html.Raw(""))">
                <img style="width:100%; height: 400px" src="@path" alt="@photo.Name" class="img-responsive">
            </div>
            first = false;
        }

    </div>
    <a class="left carousel-control" href="#Carousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#Carousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<div class="form-group">
    <div class="form-horizontal">
        <label>Product name: </label>
        @Html.DisplayFor(model => model.ProductName)
    </div>

    <div class="form-horizontal">
        <label>Amount: </label>
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="form-horizontal">
        <label>Date added: </label>
        @Html.DisplayFor(model => model.AddedDate)
    </div>

    <div class="form-horizontal">
        <label>Description: </label>
        @Html.DisplayFor(model => model.Description)
    </div>
</div>