﻿@model IEnumerable<ProductViewModel>

<h2>Our product</h2>
<br />

@if (User.IsInRole("admin"))
{
    <p>
        @Html.ActionLink("Create new", "Create")
    </p>
}

<!-- Admin -->
@if (User.IsInRole("admin") || User.IsInRole("manager"))
{
    <table class="table text-center align-content-center">
        <tr>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th class="text-center">
                @Html.DisplayNameFor(model => model.AddedDate)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AddedDate)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "Product", new { id = item.ProductId }, htmlAttributes: new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Details", "Details", "Product", new { id = item.ProductId }, htmlAttributes: new { @class = "btn btn-default btn-sm" })

                    @if (User.IsInRole("admin"))
                    {
                        @Html.ActionLink("Delete", "Delete", "Product", new { id = item.ProductId }, htmlAttributes: new { @class = "btn btn-danger btn-sm" })
                    }
                </td>
            </tr>
        }

    </table>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card">
                        <!-- Carousel -->
                        <div id="Carousel" class="carousel slide" data-ride="carousel" data-interval="4000">
                            <ol class="carousel-indicators">
                                <li data-target="Carousel" data-slide-to="0" class="active"></li>
                                @for (int count = 1; count < item.Photos.Count; count++)
                                {
                                    <li data-target="Carousel" data-slide-to="count"></li>
                                }
                            </ol>
                            <div class="carousel-inner">
                                @{
                                    var first = true;
                                }
                                @foreach (var photo in item.Photos)
                                {
                                    string path = photo.Path + "/" + photo.Name;
                                    <div class="item @(first?Html.Raw("active"):Html.Raw(""))">
                                        <img style="width:100%; height: 230px" src="@path" alt="" class="img-responsive">
                                    </div>
                                    first = false;
                                }
                            </div>
                        </div>
                        <h1>@item.ProductName</h1>
                        <p class="price">@item.Price BYN</p>
                        <p>@item.Description</p>
                        <p><button onclick="location.href='@Url.Action("AddToCart", "Cart", new {productId = item.ProductId}, null)'">Add to cart</button></p>
                    </div>
                </div>
            }
        </div>
    </div>
}

<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
        transition: 0.3s;
        border-radius: 10px;
    }

    .price {
        color: grey;
        font-size: 22px;
    }

    .card button {
        border: none;
        outline: 0;
        padding: 12px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
        font-size: 18px;
    }

    .card:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    img {
        border-radius: 5px 5px 0 0;
    }

    .card button:hover {
        opacity: 0.7;
    }

    .container {
        padding: 2px 16px;
    }
</style>
