﻿@model Cart

<div class="">
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Your order:</b>
            @Model.Lines.Sum(x => x.Quantity) product(s)
            @Model.ComputeTotalValue().ToString("c")
        </small>
    }

    <a class="btn btn-sm btn-default navbar-btn"
       asp-controller="Cart" asp-action="Index">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div> 