﻿@model UserProfileViewModel

@{
    ViewData["Title"] = "Index";
    //string pathImage = "http://ssl.gstatic.com/accounts/ui/avatar_2x.png";
    //if (Model.FileModelPath != null)
    //{
    //    pathImage = Model.FileModelPath + "/" + Model.FileModelName;
    //}

    string pathImage = Model.FileModelName;
    if(Model.FileModelPath != null)
    {
        pathImage = Model.FileModelPath + "/" + Model.FileModelName;
    }
}

<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h2>Edit profile</h2>
        </div>
    </div>
    <div class="row">

        <form asp-action="Edit" asp-controller="User" method="post" enctype="multipart/form-data">
            <div class="col-sm-3">

                <div class="text-center">
                    <img src="@pathImage" class="avatar img-circle img-thumbnail" alt="avatar">
                    <input type="file" class="text-center center-block file-upload" name="uploadedFile">
                </div>

            </div>

            <div class="col-sm-9">
                <hr>
                <input type="hidden" asp-for="@Model.Id" value="@Model.Id" />
                <input type="hidden" asp-for="@Model.Email" value="@Model.Email" />
                <input type="hidden" asp-for="@Model.RegistrationDate" value="@Model.RegistrationDate" />
                <input type="hidden" asp-for="@Model.FileModelId" value="@Model.FileModelId" />

                <div class="form-group">

                    <div class="col-xs-9">
                        <label>Email:</label>
                        <span>@Model.Email</span>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-9">
                        <label>First name:</label>
                        <input type="text" class="form-control" asp-for="@Model.FirstName" placeholder="Имя" value="@Model.FirstName">
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-xs-9">
                        <label>Last name:</label>
                        <input type="text" class="form-control" asp-for="@Model.LastName" placeholder="Имя" value="@Model.LastName">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <br />
                        <button class="btn btn-default" type="submit">Save</button>
                        <button asp-action="Index" asp-controller="User" class="btn btn-danger">Cancel</button>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {


            var readURL = function (input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();

                    reader.onload = function (e) {
                        $('.avatar').attr('src', e.target.result);
                    }

                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".file-upload").on('change', function () {
                readURL(this);
            });
        });
    </script>
}
