﻿@model UserProfileViewModel

@{
    ViewData["Title"] = "Index";
    string pathImage = Model.FileModelName;
    if (Model.FileModelPath != null)
    {
        pathImage = Model.FileModelPath + "/" + Model.FileModelName;
    }
}

<hr>
<div class="container bootstrap snippet">
    <div class="row">
        <div class="col-sm-10">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3">

            <div class="text-center">
                <img src="@pathImage" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>

        </div>
        <div class="col-sm-9">
            <hr>
            <div class="form-group">

                <div class="col-xs-9">
                    <label>Email:</label>
                    <span>@Model.Email</span>
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-9">
                    <label>First name:</label>
                    <span>@Model.FirstName</span>
                </div>
            </div>

            <div class="form-group">

                <div class="col-xs-9">
                    <label>Last name</label>
                    <span>@Model.LastName</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-xs-12">
                    <br>
                    <a asp-controller="User" asp-action="Edit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-edit"></i> Edit</a>
                </div>
            </div>
        </div>
    </div>
</div>

