﻿@model CartIndexViewModel

<h2>Your order</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Count</th>
            <th>Product</th>
            <th class="text-right">Price</th>
            <th class="text-right">Total amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var line in Model.Cart.Lines)
        {
            <tr>
                <td class="text-center">@line.Quantity</td>
                <td class="text-left">@line.Product.ProductName</td>
                <td class="text-right">@line.Product.Price.ToString("c")</td>
                <td class="text-right">
                    @((line.Quantity * line.Product.Price).ToString("c"))
                </td>
                <td>
                    <form asp-action="RemoveFromCart" method="post">
                        <input type="hidden" name="ProductId"
                               value="@line.Product.ProductId" />
                        <input type="hidden" name="returnUrl"
                               value="@Model.ReturnUrl" />
                        <button type="submit" class="btn btn-sm btn-danger ">
                            Удалить
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="text-right"><b>Общий итог:</b></td>
            <td class="text-right">
                @Model.Cart.ComputeTotalValue().ToString("c")
            </td>
        </tr>
    </tfoot>
</table>
<div class="text-center">
    <a class="btn btn-primary" asp-action="Index" asp-controller="Product">Continue shopping</a>
    <a class="btn btn-primary" asp-action="Checkout" asp-controller="Order">Order</a>
</div> 