﻿@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>

<h2>List roles</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    @if (role.Name == "admin")
                    {
                        <button type="submit" class="btn btn-sm btn-danger" disabled>
                            Delete
                        </button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-sm btn-danger">
                            Delete
                        </button>
                    }

                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create">Create role</a>
<br />
<a asp-action="UserList">List users</a>