﻿@model IEnumerable<Market.Models.Entities.User>

<h2>List users</h2>
<table class="table">
    @foreach (var user in Model)
    {
        if (user.Email == "admin@gmail.com") { continue; }
        <tr>
            <td>@user.Email</td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Access right</a>
            </td>
        </tr>
    }
</table>