﻿@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Index";
    int totalPrice = 0;
}


@if (User.IsInRole("admin"))
{
    <form asp-action="Report" asp-controller="Order" data-ajax="true" data-ajax-update="#report" data-animation="true" method="get">

        <h2>Search</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-2">
                    <label>Beginning of period:</label>
                    <input class="form-control" type="date" name="fromDate" />
                </div>
                <div class="col-md-2">
                    <label class="control-label">End of period:</label>
                    <input class="form-control" type="date" name="toDate" />
                </div>
                <div class="col-md-6">
                    <label class="control-label">User ID or email:</label>
                    <input class="form-control" type="text" placeholder="user ID or email address..." name="userData" />
                </div>
                <div class="col-md-2">
                    <label class="control-label"></label>
                    <input type="submit" value="Filter" class="btn btn-default form-control" />
                </div>
            </div>
        </div>
    </form>
}
<hr /><br />
<div id="report" />

<h2>Orders</h2>
<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.OrderId)
        </th>
        @if (User.IsInRole("admin"))
        {
            <th>
                @Html.DisplayNameFor(model => model.UserId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User.Email)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.PurchaseDate)
        </th>
        <th>
            Products
        </th>
        <th>
            Amount
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
            }
            <td>
                @Html.DisplayFor(modelItem => item.PurchaseDate)
            </td>

            <td>
                @foreach (var op in item.Lines)
                {
                    <ul>
                        <li>
                            @op.Product.ProductName - @op.Quantity (шт.)

                            @{
                                totalPrice += op.Product.Price * op.Quantity;
                            }
                        </li>
                    </ul>
                }
            </td>

            <td>
                <b>@totalPrice.ToString("c")</b>
                @{totalPrice = 0;}
            </td>

        </tr>
    }
</table>