﻿@model IEnumerable<OrderViewModel>

@{
    ViewData["Title"] = "Index";
    int totalPrice = 0;
}

<div id="modDialog" class="modal fade">
    <div id="dialogContent" class="modal-dialog"></div>
</div>

<form asp-action="SendExcelToMail" asp-controller="Order" method="post">
    <input type="hidden" value="@ViewData["userData"]" name="userData" />
    <input type="hidden" value="@ViewData["fromDate"]" name="fromDate" />
    <input type="hidden" value="@ViewData["toDate"]" name="toDate" />

    <div class="pull-right">

        <button class="btn btn-info" type="button" onclick="location.href='@Url.Action("ExportExcel", "Order", new {userData = ViewData["userData"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"]}, null)'">
            Save excel file
        </button>
        <a href="#aboutModal" data-toggle="modal" data-target="#myModal" class="btn btn-info">Send excel file by mail</a>

    </div>
    <br />

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title" id="myModalLabel">Post</h4>
                </div>
                <div class="modal-body">
                    <center>
                        <strong>Enter your email address:</strong><br>
                        <input type="text" style="width: 80%" placeholder="something@email.com..." name="emailAddress" />
                        <br>
                    </center>
                </div>
                <div class="modal-footer">
                    <center>
                        <input type="submit" class="btn btn-info" value="Send" />
                        @*<button class="btn btn-info" type="button" onclick="location.href='@Url.Action("SendExcelToMail", "Order", new {userData = ViewData["userData"], fromDate = ViewData["fromDate"], toDate = ViewData["toDate"]}, null)'">Отправить</button>*@
                    </center>
                </div>
            </div>
        </div>
    </div>

    <h2>Orders</h2>
    <br />
    <table class="table">
        <tr>
            <th>ID order</th>
            <th>ID user</th>
            <th>Email</th>
            <th>Order date</th>
            <th>Product</th>
            <th>Amount</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @foreach (var op in item.Lines)
                    {
                        <ul>
                            <li>
                                @op.Product.ProductName - @op.Quantity (шт.)

                                @{
                                    totalPrice += op.Product.Price * op.Quantity;
                                }
                            </li>
                        </ul>
                    }
                </td>
                <td>
                    <b>@totalPrice.ToString("c")</b>
                    @{totalPrice = 0;}
                </td>

            </tr>
        }
    </table>
</form>
